google-auth
google-cloud-bigquery
google-cloud-bigquery-datapolicies
google-cloud-bigquery-datatransfer
google-cloud-dataform
google-cloud-functions
google-cloud-kms
google-cloud-run
google-cloud-scheduler
google-cloud-storage
google-cloud-workflows
google-cloud-compute
google-api-python-client
pyyaml>=6.0.1